local Blacklist = syn.request({
       Url = "Place Holder",
       Method = "GET",
       Headers = {}
})

Blacklist = game:GetService("HttpService"):JSONDecode(Blacklist)

for i = 1,#Blacklist  do
   if Blacklist[i].ID == game:GetService("Players").LocalPlayer.UserId then
     while true do
     game:Shutdown()
     while wait() do
       game:GetService("Players").LocalPlayer:Kick()
     end
   end
end
